
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: #000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  .infor1{
    font-style: italic;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    }
    
    
    
    
    .filaC1{
        font-style: italic;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }
    .filaC2{
        font-style: italic;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    
    
    }
    .filaC3{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-style: italic;
        gap: 3px;
    
    
    }
    .filaC4{
        font-style: italic;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    
    
    }
    
    .contenedorM{
        font-style: italic;
        background-color: #FDFD96;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        border: 3px solid black;
        margin: auto;
        
    }.contenedorM2{
        font-style: italic;
        background-color: #FDFD96;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        border: 3px solid black;
    }
    .contenedorM3{
        font-style: italic;
        background-color: #FDFD96;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        border: 3px solid black;
    }
    .contenedorM4{
        font-style: italic;
        background-color: #FDFD96;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        border: 3px solid black;
    }
    .contenedor{
        font-style: italic;
        background-color: #FDFD96;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        border: 3px solid black;
    }
    .contenedor2{
        font-style: italic;
        background-color: #FDFD96;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        border: 3px solid black;
    }
    .contenedor3{
        font-style: italic;
        background-color: #FDFD96;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        border: 3px solid black;
    }
    .contenedor4{
        font-style: italic;
        background-color: #FDFD96;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        border: 3px solid black;
    }
    header{
        font-style: italic;
        font-size: 20px;
        color:black;
        border: 3px solid black;
        background-color: #98DBC6;
    }
    footer{
        font-style: italic;
        font-size: 30px;
        background-color: #F8BBD0;
        border: 3px solid black;
        text-align: center;
    }
    html{
        background-image: linear-gradient(to left, #F8BBD0, #F06292, #e4e41f,#FDFD96 );   
    }